<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
        body {
            padding: 30px;
            font-family: Verdana;
        }
        
        @page {size: 30in;}
        h1 {
            font-family: Verdana;
            text-align: right;
            font-weight: normal;
        }

        h2 {
            font-size: 100%;
            font-style: italic;
            font-weight: normal;
        }

        table {
            border: 1px solid gray;
            width: 100%;
            border-collapse: separate;
        }

        caption {
            border: 1px solid gray;
        }

        td, th {
            border: 0px solid black;
            text-align: right;
        }
        
        th{
		font-family:'Times New Roman';
	}

        td.desc, th {
            text-align: left;
        }

        td.odd {
            background-color: #ccccff;
        }

        td.even {
            background-color: #D8D8D8;
        }

        th{
            background-color:#A0A0A0;
        }

        tr.totals td.total {
            background-color: #ccccff;
        }

        table#overview td {
            border: 1px solid gray;
            padding: 5px;
        }
    </style>
</head>
<body>
<table>
    <caption>Студент</caption>
    <thead>
        <tr>
            <th style="text-align: left;">ID</th>
            <th style="text-align: right;">Идентификационный код</th>
            <th style="text-align: right;">Адрес Регистрации</th>
            <th style="text-align: right;">Информация о Родителях</th>
            <th style="text-align: right;">Работа</th>
            <th style="text-align: right;">День Рождения</th>
            <th style="text-align: right;">Категория Имени</th>
            <th style="text-align: right;">Пасспорт</th>
            <th style="text-align: right;">Семейное положение</th>
            <th style="text-align: right;">Стипендия</th>
            <th style="text-align: right;">Е-mail</th>
            <th style="text-align: right;">Год Зачисления</th>
            <th style="text-align: right;">Вступительные документы</th>
            <th style="text-align: right;">Выпускные документы</th>
            <th style="text-align: right;">Гражданство</th>
            <th style="text-align: right;">Специализация</th>
        </tr>
    </thead>
    <tfoot>
    <tr class="totals">
        <td class="total" colspan="5"></td>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td class="odd">$Id</td>
        <td class="even">$IDCode</td>
        <td class="odd">$RegAdr</td>
        <td class="even">$ParentInfo</td>
        <td class="odd">$Work_List</td>
        <td class="even">$Birth</td>
        <td class="odd">$Work_List</td>
        <td class="even">$Pasport</td>
        <td class="odd">$Pasport</td>
        <td class="even">$MartStat</td>
        <td class="odd">$Email</td>
         <td class="even">$From_Year</td>
         <td class="odd">$DocEntryEducation</td>
         <td class="even">$DocDeductEducation</td>
         <td class="odd">$Citizenship</td>
         <td class="even">$Spec</td>
    </tr>
    </tbody>
</table>
</body>
</html>
